@model IEnumerable<Company>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center p-1">Company Id</th>
            <th scope="col" class="text-center p-1">Company Name</th>
            <th scope="col" class="text-center p-1"># Employees</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @{
                List<Employee>? employees = ViewData["Employees"] as List<Employee>;

                foreach (Company c in (from e in Model orderby e.CompanyID ascending select e))
                {
                    int empCount = 0;
                    if(employees != null)
                    {
                        foreach(Employee emp in employees)
                        {
                            if (emp.Company.CompanyID == c.CompanyID)
                            {
                                empCount++;
                            }
                        }
                    }
                    <tr>
                        
                        <th scope="row" class="text-center p-1">@c.CompanyID</th>
                        <td class="text-center p-1">@c.CompanyName</td>
                        <td class="text-center p-1">@empCount</td>
                        <td class="w-auto text-center p-1"><a asp-controller="Employee" asp-action="EditCompany" asp-route-cID="@c.CompanyID" class="btn btn-warning">Edit</a></td>
                        <td class="w-auto text-center p-1"><a asp-controller="Employee" asp-action="DeleteCompany" asp-route-cID="@c.CompanyID" class="btn btn-danger">Delete</a></td>
                    </tr>

                    
            }
        }
    </tbody>
</table>
</div>
