@model IEnumerable<Employee>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Assigned #</th>
            <th scope="col">Email</th>
            <th scope="col">Personal #</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            //Employee e in Model <- replace bottom with if Linq not working out
            foreach (Employee emp in (from e in Model orderby e.LastName ascending select e))
            {
                    <tr>
                        
                        <th scope="row">@emp.LastName</th>
                        <td>@emp.FirstName</td>
                        <th scope="row">@emp.AssignedNumber</th>
                        <td>@emp.Email</td>
                        <td>@emp.PhoneNumber</td>
                    </tr>
                    count++;
                    
            }
        }
    </tbody>
</table>
</div>
