@model IEnumerable<TwilioWebApplication.Models.Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Manage Twilio #'s</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="table">
        <thead>
            <th scope="col">Row #</th>
            <th scope="col">Twilio #</th>
            <th scope="col">Employee</th>
            <th scope="col">Email</th>
            <th scope="col">Personal #</th>
        </thead>
        <tbody>
            @{
                int count = 1;
                foreach (var d in Model)
                {
                    <tr>
                    <th scope="row">@count</th>
                    <td>@d.TwilioPhone</td>
                    <td>@d.FirstName @d.LastName</td>
                    <td>@d.Email</td>
                    <td>@d.PersonalPhone</td>
                    </tr>
                }
                }
        </tbody>
    </table>
</div>
